<div class="theme-light">
  <h4>Should mankind colonize the Universe?</h4>
  <p>Agreed : {{ agreed }} , Disagreed : {{ disagreed }}</p>
  <!-- Default:
  <ng-content></ng-content>
  Questions:
  <ng-content select=[question]></ng-content> -->
  <app-voter
    *ngFor="let voter of voters"
    [name]="voter"
    (voted)="onVoted($event)"
  ></app-voter>
</div>

<!-- "The sum of 1 + 1 is not 4" -->
<!-- <p>The sum of 1 + 1 is not {{1 + 1 + getVal()}}.</p> -->
<!-- <img [src]="itemImageUrl2"> -->
<!-- <input #myInput placeholder="">
<button (click)="changeInput(myInput)">Cilck me</button> -->

<!-- Form validation Tarunika-->

<!-- <form [formGroup]="myForm" novalidate>
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" formControlName="title" />
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="title.errors && (title.touched || title.dirty)"
    >
      Invalid Title
    </div>
  </div>
</form> -->
