<!-- Encapsulation -->

<!-- <app-third></app-third> -->

<!-- Component interation - onChanges -->

<!-- <app-version-parent></app-version-parent> -->

<!--  parent listens to child interaction -->

<!-- <app-votetaker> -->

<!-- <p>Checking content projection</p>    
  <p question>Working fine?</p> -->

<!-- </app-votetaker> -->

<!-- Template - Practice -->

<!-- <app-template-practice [(size)]="fontSize"></app-template-practice>
<p [style.font-size.px]="fontSize">Resizable Text</p> -->

<!-- service -->

<!-- <app-dogs></app-dogs> -->

<!-- directives -->
<!-- <app-directive-practice></app-directive-practice> -->

<ul>
  <li><a routerLink="/login">Login</a></li>
  <li><a routerLink="/profile">Reactive-form</a></li>
  <li><a routerLink="/signin">Template-driven-form</a></li>
  <li><a routerLink="/component">Component-interaction</a></li>
  <li><a routerLink="/childToParent">Child to parent interaction</a></li>
  <li><a routerLink="/encapsulate">Encapsulation</a></li>
  <li><a routerLink="/template">Templates-practice</a></li>
  <li><a routerLink="/directive">Directives-practice</a></li>
  <li><a routerLink="/service">Services-practice</a></li>
  <li><a routerLink="/customers">Lazy loading</a></li>
  <li><a routerLink="/register">Register</a></li>
  <li><a routerLink="/i18n">Internationalization</a></li>
</ul>
<router-outlet></router-outlet>
