<h4>ngClass :</h4>
<div class="container">
  <p><b>STRING :</b></p>
  <p [ngClass]="'myClass class1'">Using ngClass with string</p>
</div>
<div class="container">
  <p><b>ARRAY :</b></p>
  <p [ngClass]="['myClass', 'class1']">Using ngClass with array</p>
</div>
<div class="container">
  <p><b>OBJECT</b></p>
  <p [ngClass]="{ myClass: true, class1: false }">Using ngClass with object</p>
</div>
<h4>ngStyle :</h4>
<div class="container">
  <p [ngStyle]="{ color: 'brown', fontWeight: 'bold', fontSize: '25px' }">
    Using ngStyle directly
  </p>
</div>
<div class="container">
  <p>Enter a color :</p>
  <input placeholder="Please enter a color" type="text" #txt /><br /><br />
  <button (click)="change(txt.value)">click to change color</button><br /><br />
  <p [ngStyle]="apply()">Using ngStyle with method</p>
  <button (click)="diff()">change to different color</button>
</div>
<h4>ngIf :</h4>
<div class="container">
  <p>Click the button to see how ngIf works</p>
  <button style="margin-bottom: 9px" (click)="useNgIf()">click me</button>
  <p *ngIf="result">It is displayed because of a truthy value</p>
</div>
<h4>ngSwitch :</h4>
<div class="container">
  <p>Select a fruit:</p>
  <select [(ngModel)]="fruit">
    <option disabled>Fruits</option>
    <option value="Apple" selected>Apple</option>
    <option>Mango</option>
    <option>Grapes</option>
  </select>
  <ul [ngSwitch]="fruit">
    <li *ngSwitchCase="'Apple'">You have selected apple</li>
    <li *ngSwitchCase="'Mango'">You have selected mango</li>
    <li *ngSwitchCase="'Grapes'">You have selected grapes</li>
    <li *ngSwitchDefault>You haven't selected a fruit</li>
  </ul>
</div>
